/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.pre-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #df6a6a;
    color: white;
    padding: 1rem 0;
    padding: 10px 20px;
}

.pre-nav p{
    font-style: italic;
}

.brand  {
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
}

.navbar {
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    column-gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-items :hover{
    color: #131212;
    border: solid;
}

.active{
    font-weight: bold;
    color: black;
}

.hero {

    color: rgb(9, 9, 9);
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    letter-spacing: 2px;
}

#search-news {
    display: flex;
    margin-bottom: 15px;
    border: solid;
    border-radius: 50px 50px;
    border-color: #ba6072;

}

#input-box {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: solid;
    border-color: #c57a69;
}

#btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d56767;
    color: rgb(231, 224, 224);
    border: solid;
    cursor: pointer;
    border-color: #d56767;
} 



.stories-section {
    padding: 40px 20px;
    background-color: white;

}

.stories-section h2 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
}

.stories-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
}


.borders {
    background-color: #fff;
    border-radius: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        0 4px 8px rgba(0, 0, 0, 0.2),
        0 4px 8px rgba(0, 0, 0, 0.2),
        0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.borders h3 {
    font-size: 20px;
    
}

.borders p {
    font-size: 16px;
    color: #131212;
}

.borders p:hover {
    color: #e36672;
}


.footer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: linear-gradient(to right,
        rgb(215, 132, 139), rgb(27, 27, 27));
    background-clip: text;
    color: transparent;
  }
 
  
  
  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-details h2 {
    font-size: 30px;
    font-weight: bold;
  
  }
  
  .office {
    display: flex;
    gap: 10px;
    column-gap: 30px;
  }
  
  .cont {
    border: solid;
    border-spacing: 50px;
    border-color: #AD8B64;
  
  }
  
  .form-contact button {
    border-radius: 50px 20px;
    border: solid;
    border-color: #AD8B64;
  }
  
  .icon {
    padding-top: 20px;
    display: flex;
    column-gap: 1rem;
  }
  
  .icon:hover {
    color: rgb(240, 50, 230);
  }
  
  .foot-nav {
    padding-top: 10px;
    display: flex;
    column-gap: 1rem;
  }

/* .footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
} */